a.blueutopiadonate.red {
	margin:0px;
	padding:0px;
    background-image: linear-gradient(to bottom, #C80E04, #9C0B03);
    background-repeat: repeat-x;
  	color: #FFFFFF !important;
  	border: 1px solid #999999;
  	border-radius: 4px 4px 4px 4px;
  	box-shadow: 2px 2px 2px #CCCCCC;
    font-size: 17.5px;
  	font-weight: bold;
  	text-transform: uppercase;
	text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align:center !important;
	display:block !important;
	height:40px !important;
	overflow:hidden !important;
	padding-top:10px !important;
}

a.blueutopiadonate.red:hover, a.blueutopiadonate.red:active {
    background-image: linear-gradient(to bottom, #9C0B03, #C80E04);
    background-repeat: repeat-x;
  	color: #ffffff !important;
    font-size: 17.5px;
  	font-weight: bold;
}

a.blueutopiadonate.red:visited {

}